<div id="page-wrapper" class="gray-bg {{$state.current.name}}">

    <!-- Page wrapper -->
    <div ng-include="'views/menu.html'"></div>

    <!-- Main view  -->
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body centro-home">
                <img src="../img/carteiro.png"></im>

                <span class="text-center">GPLAQ</span>

            </div>

        </div>
    </div>

    <!-- Footer -->
    <!--<div ng-include="'views/footer.html'"></div>-->

</div>