<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/home"><img class="logo" src="libs/img/logo_correios.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/#/capital"><span class="glyphicon glyphicon-map-marker"></span> Rotas Enem Capital <span class="sr-only">(current)</span></a></li>
                <li><a href="/#/painelcapital"><span class="glyphicon glyphicon-blackboard"></span> Painel de Rotas Capital</a></li>
                <li><a href="/#/interior"><span class="glyphicon glyphicon-map-marker"></span> Rotas Enem Interior</a></li>
                <li><a href="/#/painelinterior"><span class="glyphicon glyphicon-blackboard"></span> Peinel de Rotas Interior</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-cog"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><span class="glyphicon glyphicon-eye-open"></span> Sobre</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>